<template>
	<div class="todo">
		<h1>{{ title }}</h1>
		<textarea
			id="todo-textbox"
			cols="30"
			rows="10"
			placeholder="Enter Todo"
			v-model="postData.todo"
		></textarea>
		<br />
		<button id="todo-add" @click="handleSend">Add</button>
		<br />
		<ul id="todo-list">
			<li v-for="(todo, i) in todos" :key="i" :id="`list-item-${i}`">
				{{ todo.todo }}
			</li>
		</ul>
	</div>
</template>

<script>
import { getTodos, postTodos } from '../api';

let apiUrl;

if (
	window.location.href === 'http://34.118.32.103/' ||
	'http://localhost:8080/'
)
	apiUrl = 'http://34.118.125.43';
else apiUrl = 'http://34.116.219.66';

export default {
	name: 'Todo',
	props: {
		title: String,
	},
	data() {
		return {
			postData: {
				todo: '',
			},
			todos: {},
		};
	},

	async created() {
		const { data } = await getTodos(apiUrl);
		this.todos = data.todos;
	},

	methods: {
		async handleSend() {
			await postTodos(apiUrl, this.postData);
			const { data } = await getTodos(apiUrl);
			console.log(data);
			this.todos = data.todos;
		},
	},
};
</script>
